 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans, sans serif;
}

/* classi generaLI */
.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

.row{
    width: 100%;
    height: 100%;

}

/* bottoni */
.btn{
    line-height: normal;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}
.btn_blu{
    background-color:  #084EC0;
    color: white;
}

.left{
    float: left;
}
.right{
    float: right;
}

.text{
    font-size: 18px;
    /* debugger */
    margin-bottom: 20px;
}
/* colori */
.blu{
    color: #2074FF;
}
/* distanziamento */

.margin{
    margin: 20px 0;
}

/* STILE DELLA TESTATA */
header{
    /* height: 400px; */
    /* debugger */
    /* background-color: red; */
}

/* barra di navigazione */

nav{
    height: 80px;
    width: 100%;
    /* debugger */
    background-color: white;
    line-height: 80px;
}

.logo_container{
    width: 10%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: blue; */
    vertical-align: middle;
    text-align: center;
}

.row_container{
    width: 90%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: yellow; */
    vertical-align: middle;
}

.nav_left{
    width: 50%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: aqua; */
}

.nav_right{
    width: 50%;
    height: 100%;
    float: right;
    /* debugger */
    /* background-color: blueviolet; */
}

.nav_space{
    display: inline-block;
    margin-right: 80px;
    
}

.style_link{
    font-size: 20px;
    text-decoration: none;
    color: black;
   

}
 /* stile hero */

 .hero_section{
     height: 800px;
     width: 100%;
     background-color: #B4D0E7;
 }

 .container_big{
     width: 80%;
     margin: 0 auto;
     /* debugger */
     /* background-color: red; */
     height: 100%;
     position: relative;
 }

 .hero_text{
    width: 40%; 
    height: 50%;   
    position: absolute;
    bottom: 0;
    left: 0;
    
 } 

 .container_big h1{
  font-size: 100px;
  margin-bottom: 20px;
  
 }

 .annulla{
     display: block;
     margin: 20px 0;
 }

 .hero_img{
     position: absolute;
     width: 60%;
     height: 80%;
     bottom: -80px;
     right: 0;

 }

 .hero_img img{
    width: 100%;
    height: 100%;
    
 }

 /* stile corpo */
 /* piano abbbonamento */
 .piano_abbonamento{
     margin-top: 200px;
 }

 .container_small{
     width: 60%;
     /* height: 800px; */
     margin: 0 auto;
     /* debugger */
     /* background-color: red; */
        
 }

 .section_title{
     font-size: 50px;
     margin-bottom: 20px;
 }

 /* stile colonne */

 .col{
     margin-right: 30px;
     width: calc(100%/3 - 30px);
     float: left;
     height: 1000px;
     border: 1px solid black;
     /* debugger */
     /* background-color: blue; */
 }

 .testata{
     text-align: center;
     width: 100%;
     height: 50px;
     border-bottom: 1px solid black;
     line-height: 50px;
     
}

.col_body{
    padding: 20px;
}

.col_title{
    font-size: 28px;
}

.awesome{
    margin-right: 10px;
}

ul li {
    list-style-type: none;
}

.distance{
    width: 30%;
    border: 1px solid black;
    margin: 20px 0;
}

