 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans, sans serif;
}

/* classi generaLI */
.clearfix::after{
    content: "";
    clear: both;
    display: table;  
}

.row{
    width: 100%;
    height: 100%;

}

/* bottoni */
.btn{
    line-height: normal;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}
.btn_blu{
    background-color:  #084EC0;
    color: white;
}
.btn_white{
    background-color:  white;
    color: black;
    border: 1px solid black;
}

.left{
    float: left;
}
.right{
    float: right;
}

.text{
    font-size: 18px;
    /* debugger */
    margin-bottom: 20px;
}
/* colori */
.blu{
    color: #2074FF;
}
/* distanziamento */

.margin{
    margin: 20px 0;
}

/* STILE DELLA TESTATA */
header{
    /* height: 400px; */
    /* debugger */
    /* background-color: red; */
}

/* barra di navigazione */

nav{
    height: 80px;
    width: 100%;
    /* debugger */
    background-color: white;
    line-height: 80px;
}

.logo_container{
    width: 10%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: blue; */
    vertical-align: middle;
    text-align: center;
}

.row_container{
    width: 90%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: yellow; */
    vertical-align: middle;
}

.nav_left{
    width: 50%;
    height: 100%;
    float: left;
    /* debugger */
    /* background-color: aqua; */
}

.nav_right{
    width: 50%;
    height: 100%;
    float: right;
    /* debugger */
    /* background-color: blueviolet; */
}

.nav_space{
    display: inline-block;
    margin-right: 80px;
    
}

.style_link{
    font-size: 20px;
    text-decoration: none;
    color: black;
   

}
 /* stile hero */

 .hero_section{
     height: 800px;
     width: 100%;
     background-color: #B4D0E7;
 }

 .container_big{
     width: 80%;
     margin: 0 auto;
     /* debugger */
     /* background-color: red; */
     height: 100%;
     position: relative;
 }

 .hero_text{
    width: 40%; 
    height: 50%;   
    position: absolute;
    bottom: 0;
    left: 0;
    
 } 

 .container_big h1{
  font-size: 100px;
  margin-bottom: 20px;
  
 }

 .annulla{
     display: block;
     margin: 20px 0;
 }

 .hero_img{
     position: absolute;
     width: 60%;
     height: 80%;
     bottom: -80px;
     right: 0;

 }

 .hero_img img{
    width: 100%;
    height: 100%;
    
 }

 /* stile corpo */
 /* piano abbbonamento */
 .distance_section{
     margin-top: 200px;
 }

 .container_small{
     width: 60%;
     /* height: 800px; */
     margin: 0 auto;
     /* debugger */
     /* background-color: red; */
     min-height: 400px;
     max-height: 100%;
        
 }

 .section_title{
     font-size: 50px;
     margin-bottom: 20px;
 }

 /* stile colonne */

 .col{
     margin-right: 30px;
     width: calc(100%/3 - 30px);
     float: left;
     max-height: 1000px;
     border: 1px solid black;
     /* debugger */
     /* background-color: blue; */
 }

 .testata{
     text-align: center;
     width: 100%;
     height: 50px;
     border-bottom: 1px solid black;
     line-height: 50px;
     
}

.col_body{
    padding: 20px;
}

.col_title{
    font-size: 28px;
}

.awesome{
    margin-right: 10px;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

.distance{
    width: 30%;
    border: 1px solid black;
    margin: 20px 0;
}

/* stile assistenza */

.support{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    
}

.support_top{
   border-bottom: 1px solid black;
   padding: 20px 0;
   text-align: center;
}

.support_body{
    padding: 20px;
}

/* stile partner */


.col_partner{
    width: 50%;
    height: 500px;
    
}

.col_partner img{
    width: 100%;
    height: 100%;
   
    
}

.col_partner_text{
    width: 50%;
    padding: 50px;
    height: 500px;
}

/*  stile operazioni con dropbox */

.card{
    margin: 10px;
    width: calc(100%/3 - 20px);
    /* debugger */
    /* background-color: red; */
}

.card_img{
    width: 100%;
    height: 300px;

}

.card img{
 max-width: 100%;
 max-height: 100%;
}

/* stile carousel */

.container_carousul{
 width: 100%;
 height: 600px;
 /* max-height: 1180px; */
}

.col_small{
    width: 15%;
    height: 100%;
   
    
}

.col_big{
    width: 40%;
    height: 100%;
    background-color: #F5F5F5;
    
}

.top_container{
    width: 100%;
    height: calc(100%/2);
    padding: 50px;
    

}

.top_container img{
    width: 100%;
    height: 100%;
    
}

.bottom_container{
    width: 100%;
    height: calc(100%/2);
    padding: 50px;
    

}

.bottom_container img{
    width: 100%;
    height: 100%;
    
}

/* colori carousel */
#mela{background-color: #A2D39B;}
#bordo{background-color: #61082B;}
#azzurro{background-color: #0093CE;}
#rossofuoco{background-color: #FF1C1C;}
#rosso{background-color: #D5001F;}
#blu{background-color: #0D2481;}
#celeste{background-color: #B4D0E7;}
#giallo{background-color: #FFD830;}

.carousel_left{
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 400px;
}

.carousel_right{
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 400px;
}
/* stile domande frequenti */

.row_faq{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    line-height: 100px;
}

.border_top{
    border-top: 1px solid black;
}

.arrow{
    margin-right: 20px;
}

/* stile footer */

footer{
    background-color: #000000;
   
}

.footer_list{
    padding: 30px 0;

}

.col_footer{
    width: 20%;
    height: 100%;

}
.footer_title{
    font-size: 30px;
    margin: 30px 0;
}

.col_footer ul li a {
   text-decoration: none;
   color: white;
   font-weight: 700;
   margin-bottom: 20px;
   display: block;
}

.change_linguage{
    width: 10%;
    color: #ccc;
    height: 100%;
    border-top: 1px solid white;
    padding: 30px 0;
}

